<%- include('partials/header') %>

<div class="container mt-5">
  <% if(locals.title) {  %>
    <h1> <%= title %> </h1>
    <%} else { %> 
      <h1> Enter your email to reset password </h1>
    <%} %>

    <% if(locals.change) {  %>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <form action="/changepassword" method="POST">
                          <div class="form-group">
                            <label for="uername">Email</label>
                            <input type="email" class="form-control" name="username">
                          </div>
                          <div class="form-group">
                            <label for="oldpassword">Current password</label>
                            <input type="password" class="form-control" name="oldpassword">
                          </div>
                            <div class="form-group">
                                <label for="newpassword">New password</label>
                                <input type="password" class="form-control" name="newpassword">
                            </div>
                            <button type="submit" class="btn btn-dark">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } else if (locals.reset) {%>
          <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <form action="/resetpassword" method="POST">
                            <div class="form-group">
                                <label for="newpassword">New password</label>
                                <input type="password" class="form-control" name="newpassword">
                                <input style="opacity: 0;" value="<%=id%>" type="text" name="id">
                            </div>
                            <button type="submit" class="btn btn-dark">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
        <div class="row">
            <div class="col-sm-8">
              <div class="card">
                <div class="card-body">
        
                  <form action="/reset" method="POST">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" name="username">
                    </div>
                    <button type="submit" class="btn btn-dark">Send</button>
                  </form>
        
                </div>
              </div>
            </div>
        </div>
    <% } %>
</div>

<%- include('partials/footer') %>